/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 mai 2014, 18:56:33
    Author     : Cyril
*/

#start{
    background-image: url('../images/default.png');
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    position:relative;
}
#start>h1{
    position:absolute;
    
}
.article-content{
    width: 35%;
    max-width: 1024px;
}
.right{
    float:right;
}
.right:after{
   content:'';
   display:block;
   clear: both;
}